/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(230, 100%, 50%);
   --second-color: hsl(150, 100%, 38%);
   --title-color: hsl(230, 24%, 12%);
   --text-color: hsl(230, 4%, 60%);
   --gray-color: hsl(230, 24%, 88%);
   --border-color: hsl(230, 4%, 92%);
   --body-color: hsl(230, 100%, 98%);
   --container-color: hsl(0, 0%, 100%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: 'Syne', sans-serif;

   --h2-font-size: 1.25rem;
   --normal-font-size: 1rem;
}
